/* 使い回すならレイアウトやサイズはコンポーネント側ではなく呼び出し元で定義できるようにしたほうがいい
今回は使い回すほど大規模なコードではないからここに全部書いている */
.schedule {
  width: 90%;
  background-color: rgb(121, 134, 203);
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  padding: 1px 4px;
  margin: 1px 0;
  cursor: pointer;
}
